/* _______________________________________________________________ 

                            General
__________________________________________________________________ */

body{
    /* background-color: #1a1a1a; */
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    background-image: url(../Images/body-image.jpeg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

h1,h2,h3,h4,h5,h6,p,span,a{
    font-family: "Roboto", sans-serif !important;
}

.height{
    height: 100vh;
}

button{
    background-color: #5cf0ff !important;
    color: #1a1a1a !important;
    font-family: "Roboto", sans-serif !important;
    font-size: medium !important;
}

video{
    object-fit: fill;
    overflow: hidden;
}

span{
    color: #5cf0ff;
}

/* _______________________________________________________________ 

                            #header
__________________________________________________________________ */

#header nav{
    background: #0000009c !important;
}

#header img{
    border: 7px solid #5cf0ff;
}

#header a{
    color: #ffffff;
}

/* #header .active{
    background: #5cf0ff;
    border-radius: 10%;
    color: #1a1a1a
} */

#header a:hover{
    color: #1a1a1a
}

#header li:hover{
    background: #5cf0ff;
    border-radius: 10%;
}

/* _______________________________________________________________ 

                            #banner
__________________________________________________________________ */

#banner{
    background: linear-gradient(45deg, black, transparent);
}

#banner h1{
    position: relative;
    top: 10rem;
    font-size: 3rem;
}

#banner video{
    height: 90vh;
}

/* _______________________________________________________________ 

                            #detail
__________________________________________________________________ */

#detail{
    background: linear-gradient(45deg, black, transparent);
}

#detail p{
    text-align: justify;
}

#detail img{
    border: 1px solid #5cf0ff;
}

/* _______________________________________________________________ 

        #about/ #about-part-1/ #about-part-2/ #about-part-3
__________________________________________________________________ */

/* #about{
    background: linear-gradient(45deg, black, transparent);
} */

#about-part-1{
    background: black;
}

#about-part-2,#about-part-3{
    background: rgb(20, 1, 1);
}

#about-part-1 .card{
    background-image: url(../Images/card-backgroung-image.jpeg);
    background-position: center;
    background-size: cover;
    border: 1px solid #5cf0ff;
}

.card-shadow{
    background: linear-gradient(45deg, black, transparent);
}

#about-part-1 img{
    border: 7px solid #5cf0ff;
}

#about-part-2 img,#about-part-3 img{
    border: 1px solid #5cf0ff;
}

#about-part-2 .icon-border,#about-part-3 .icon-border{
    border: 7px solid #5cf0ff;
}

/* _______________________________________________________________ 

                            #feature
__________________________________________________________________ */

#feature{
    background: black;
}

#feature img{
    border: 1px solid #5cf0ff;
}

#feature .icon-border{
    border: 7px solid #5cf0ff;
}

#feature-part-2{
    background-image: url(../Images/body-image.jpeg);
    background-position: center;
    background-size: cover;
}

#feature-part-2 .inner-background{
    background: linear-gradient(45deg, black, transparent);
}

/* _______________________________________________________________ 

                            Media Query
__________________________________________________________________ */

@media (max-width:992px) {

    #banner h1{
        position: relative;
        top: 10rem;
        font-size: 2rem;
    }

    #banner video{
        height: 70vh;
    }  

}

